<nav style="display: flex; justify-content: center; gap: 2%;">
    <a href="/">
        <div>Home</div>
    </a>
    <a href="/product/all-products">
        <div > All Products </div>
    </a>
    <a href="/category">
        <div> Categories </div>
    </a>
    <a href="/add">
        <div> Add To Inventory </div>
    </a>
    <a href="/delete">
        <div> Delete From Inventory </div>
    </a>
</nav>