<%-include ('partials/navbar')%>
<form action="/add/category" method="POST">
    <label for="categoryName">Enter Category Name</label>
    <input type="text" name="categoryName" id="categoryName" placeholder="ex. Accessories" required>
    <button type="submit">Add Category</button>
</form>